<% provide(:title, 'Edit user') %>
<% provide(:userInfoFormButton, 'Save Changes') %>
<h1>Update your profile</h1>
<div class="row">
  <div class="span6 offset3">
    <%= render 'complete_user_info_form' %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">Change</a>
  </div>
</div>
